body {
  background-color: #252525;
  color: white;
}

#root {
  min-width: 500px;
  min-height: 200px;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 80%;
}

.row {
  display: flex;
  padding-top: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}

/* Keyboard */
.btn {
  width: 10%;
  margin-right: 5px;
  padding: 5px;
  flex-grow: 1;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #535353;
  color: white;

  &--pressed {
    background-color: #959595;
  }
}

.btn-space {
  width: 80%;
}

.btn-shiftleft {
  width: calc(20% + 10px);
}

/* Display */
.display {
  resize: none;
  font-size: 16px;
  line-height: 20px;
  width: calc(100% - 10px);
  background-color: #b9baba;

  &:focus {
    border: none;
  }
}

.cursor {
  width: 10px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.info {
  padding-top: 20px;
}
